<section class='mkt-standard-multiple-image-text'>
  <div class="big-container">
    {{#each standardMultipleImageText.blocks}}
    <div class="big-item {{#if @first}}active{{/if}}">
      <img
        src='{{image.uploadDestinationId}}'
      />
      <div class="goods-desc">
         <h4>{{headline.value}}</h4>
         {{#each body.textList}}
          <div class='mkt-standard-text-block'>
            {{{value}}}
          </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
  <div class='small-image'>
    {{#each standardMultipleImageText.blocks}}
      <div class='{{#if @first}}active{{/if}}'>
        <img src='{{image.uploadDestinationId}}' />
        <div class='mkt-standard-text-block'>
          {{caption.value}}
        </div>
      </div>
    {{/each}}
  </div>
</section>