{{!-- <section class='mkt-standard-four-image-text-quadrant'>
  <div>
    <img src="{{standardFourImageTextQuadrant.block1.image.uploadDestinationId}}" >
    <h4 class='sub-title'>
      {{standardFourImageTextQuadrant.block1.headline.value}}
    </h4>
    <div>
      {{#each standardFourImageTextQuadrant.block1.body.textList}}
        {{> text value=value }}
      {{/each}}
    </div>
  </div>
  <div>
    <img src="{{standardFourImageTextQuadrant.block2.image.uploadDestinationId}}" >
    <h4 class='sub-title'>
      {{standardFourImageTextQuadrant.block2.headline.value}}
    </h4>
    <div>
      {{#each standardFourImageTextQuadrant.block2.body.textList}}
        {{> text value=value }}
      {{/each}}
    </div>
  </div>
  <div>
    <img src="{{standardFourImageTextQuadrant.block3.image.uploadDestinationId}}" >
    <h4 class='sub-title'>
      {{standardFourImageTextQuadrant.block3.headline.value}}
    </h4>
    <div>
      {{#each standardFourImageTextQuadrant.block3.body.textList}}
        {{> text value=value }}
      {{/each}}
    </div>
  </div>
  <div>
    <img src="{{standardFourImageTextQuadrant.block4.image.uploadDestinationId}}" >
    <h4 class='sub-title'>
      {{standardFourImageTextQuadrant.block4.headline.value}}
    </h4>
    <div>
      {{#each standardFourImageTextQuadrant.block4.body.textList}}
        {{> text value=value }}
      {{/each}}
    </div>
  </div>
</section> --}}
<section class='mkt-standard-four-image-text-quadrant'>
  <div>
    <div class='image'><img
        class=''
        src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/c4680a1f-9ef6-4052-9ff0-0c0d044f56e5._CR0,0,1000,1000_.jpg'
        alt='Advanced Safety for Peace of Mind'
      /></div>
    <div class='image-text-container'>
      <h4 class=''>Advanced Safety for Peace of Mind</h4>
      <div class='mkt-standard-text-block'>Short-circuit and overvoltage protection will keep you
        and your devices safe.</div>
    </div>
  </div>
  <div>
    <div class='image'><img
        class=''
        src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/75831220-103b-49bd-a7ff-62d46260af9f._CR0,0,1000,1000_.jpg'
        alt='Adjustable Kickstand'
      /></div>
    <div class='image-text-container'>
      <h4 class=''>Adjustable Kickstand</h4>
      <div class='mkt-standard-text-block'>Built-in kickstand enables you to position your panel to
        get optimal sunlight.</div>
    </div>
  </div>
  <div>
    <div class='image'><img
        class=''
        src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/f54c66d1-d8e2-4d6a-8c32-52102ee866b8._CR0,0,1000,1000_.jpg'
        alt='Solar Adapter Compatible'
      /></div>
    <div class='image-text-container'>
      <h4 class=''>Solar Adapter Compatible</h4>
      <div class='mkt-standard-text-block'>Connect to PowerHouse with solar charging cable and a
        XT-60 to DC7909 connector.</div>
    </div>
  </div>
  <div>
    <div class='image'><img
        class=''
        src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/230a67e3-0698-402e-9c9b-604d3948c8c5._CR0,0,220,220_.jpg'
        alt='Kickstand with Extra Storage Space'
      /></div>
    <div class='image-text-container'>
      <h4 class=''>Kickstand with Extra Storage Space</h4>
      <div class='mkt-standard-text-block'>The solar panel's adjustable stand doubles as a kickstand
        and provides additional storage space.</div>
    </div>
  </div>
</section>